BERT_wwm/
HUAWEI/
roberta-large/
BERT/
NEZHA/

Google_best_0_model.weights
Google_best_1_model.weights
Google_best_2_model.weights
Google_best_3_model.weights
Google_best_4_model.weights
Google_best_5_model.weights

BERT_best_0_model.weights
BERT_best_1_model.weights
BERT_best_2_model.weights
BERT_best_3_model.weights
BERT_best_4_model.weights
BERT_best_5_model.weights

roberta-large_best_0_model.weights
roberta-large_best_1_model.weights
roberta-large_best_2_model.weights
roberta-large_best_3_model.weights
roberta-large_best_4_model.weights
roberta-large_best_5_model.weights

NEZHA_best_0_model.weights
NEZHA_best_1_model.weights
NEZHA_best_2_model.weights
NEZHA_best_3_model.weights
NEZHA_best_4_model.weights
NEZHA_best_5_model.weights


HUAWEI_record_acc.txt
Google_record_acc.txt
roberta-large_record_acc.txt
NEZHA_record_acc.txt
BERT_record_acc.txt
result.csv
